@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* ******************** > Обнуление стилей < ******************** */
* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ******************** > *** < ******************** */
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 20px;
}

.subheading {
  font-weight: 700;
  font-size: 45px;
  line-height: 150%;
  text-align: center;
}

.title {
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

.text {
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.page__start {
  background-color: #efefef;
  padding-top: 50px;
  padding-bottom: 140px;
  display: none;
}

.page__quality {
  padding-bottom: 60px;
}

.start__heading {
  font-weight: 700;
  font-size: 55px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.start__subheading {
  margin-bottom: 49px;
}

.start__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -28px;
}

.start__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 37px;
}

.start__item {
  padding: 30px;
  background: #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start__item:hover {
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 1px #000;
          box-shadow: 0px 0px 15px 1px #000;
  color: #a10b0c;
}

.start__image {
  text-align: center;
}

.start__image img {
  max-width: 100%;
  margin-bottom: 22px;
}

.start__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 23px;
}

.start__wrap-more {
  text-align: center;
}

.start__more {
  position: relative;
  display: inline-block;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  padding-right: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.start__more:hover {
  color: #A10B0C;
}

.start__more:hover::after {
  border-left-color: #A10B0C;
}

.start__more::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0px;
  border-left: 7px solid #000;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1500px) {
  .start__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -37px -28px;
  }
  .start__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    padding: 37px;
  }
}

@media (max-width: 1335px) {
  .start__row {
    margin: -20px;
  }
  .start__column {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .start__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

@media (max-width: 424px) {
  .start__row {
    margin: -10px;
  }
  .start__column {
    padding: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.quality__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -59px;
}

.quality__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 30px;
}

.quality__item {
  background: #FFA89A;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quality__item:hover {
  background: #524D4C;
  -webkit-box-shadow: 0px 0px 15px 1px #FF8875;
          box-shadow: 0px 0px 15px 1px #FF8875;
}

.quality__body {
  padding: 26px 40px 28px 41px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quality__image {
  text-align: center;
}

.quality__image img {
  max-width: 100%;
}

.quality__title {
  margin-bottom: 8px;
  color: #fff;
}

.quality__text {
  color: #fff;
  margin-bottom: 23px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quality__wrap-more {
  text-align: center;
}

.quality__more {
  width: 150px;
  height: 38px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #FFFFFF;
  background: #43F074;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.quality__more:hover {
  background-color: #00A72F;
}
