@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* ******************** > Обнуление стилей < ******************** */
* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ******************** > *** < ******************** */
body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 20px;
}

.box {
  max-width: 1024px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 20px;
}

.subheading {
  font-weight: 700;
  font-size: 45px;
  line-height: 150%;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

.text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.page__start {
  background-color: #efefef;
  padding-top: 50px;
  padding-bottom: 140px;
}

.page__quality {
  padding-bottom: 60px;
}

.page__third {
  background-color: #EFEFEF;
  padding-top: 60px;
  padding-bottom: 101px;
}

.page__fourth {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 80px;
}

.start__heading {
  font-weight: 700;
  font-size: 55px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.start__subheading {
  margin-bottom: 49px;
}

.start__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -28px;
}

.start__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 37px;
}

.start__item {
  padding: 30px;
  background: #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start__item:hover {
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 1px #000;
          box-shadow: 0px 0px 15px 1px #000;
  color: #a10b0c;
}

.start__image {
  text-align: center;
}

.start__image img {
  max-width: 100%;
  margin-bottom: 22px;
}

.start__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 23px;
}

.start__wrap-more {
  text-align: center;
}

.start__more {
  position: relative;
  display: inline-block;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  padding-right: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.start__more:hover {
  color: #A10B0C;
}

.start__more:hover::after {
  border-left-color: #A10B0C;
}

.start__more::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0px;
  border-left: 7px solid #000;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1500px) {
  .start__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -37px -28px;
  }
  .start__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    padding: 37px;
  }
}

@media (max-width: 1335px) {
  .start__row {
    margin: -20px;
  }
  .start__column {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .start__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

@media (max-width: 424px) {
  .start__row {
    margin: -10px;
  }
  .start__column {
    padding: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.quality__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -59px;
}

.quality__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 30px;
}

.quality__item {
  background: #FFA89A;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quality__item:hover {
  background: #524D4C;
  -webkit-box-shadow: 0px 0px 15px 1px #FF8875;
          box-shadow: 0px 0px 15px 1px #FF8875;
}

.quality__body {
  padding: 26px 40px 28px 41px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quality__image {
  text-align: center;
}

.quality__image img {
  max-width: 100%;
}

.quality__title {
  margin-bottom: 8px;
  color: #fff;
}

.quality__text {
  color: #fff;
  margin-bottom: 23px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quality__wrap-more {
  text-align: center;
}

.quality__more {
  width: 150px;
  height: 38px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #FFFFFF;
  background: #43F074;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.quality__more:hover {
  background-color: #00A72F;
}

.third__subheading {
  margin-bottom: 53px;
}

.third__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -35px;
}

.third__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 0 17.5px;
}

.third__item {
  position: relative;
  padding: 10px 10px 13px 10px;
  background: #FFA89A;
  border-radius: 8px;
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s, border-radius 0.1s ease 0.2s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s, border-radius 0.1s ease 0.2s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.third__item::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #FFA89A;
  border-radius: 0 0 8px 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.third__item:hover {
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s;
  border-radius: 8px 8px 0 0;
  background: #A10B0C;
  color: #fff;
}

.third__item:hover .third__wrap-more {
  display: block;
}

.third__item:hover::after {
  height: 40px;
  background-color: #A10B0C;
}

.third__image {
  text-align: center;
}

.third__image img {
  max-width: 100%;
  margin-bottom: 23px;
}

.third__title {
  margin-bottom: 11px;
}

.third__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 39px;
}

.third__wrap-more {
  display: none;
  text-align: center;
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.third__more {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  padding-right: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.third__more:hover {
  color: #CFF2A2;
}

.third__more:hover::after {
  border-left-color: #CFF2A2;
}

.third__more::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0px;
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fourth__subheading {
  margin-bottom: 57px;
}

.fourth__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -37.5px;
}

.fourth__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 37.5px;
}

.fourth__item {
  padding: 42px 28px 20px 30px;
  background: #EAFFAF;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.fourth__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #EAFFAF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fourth__item::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #EAFFAF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fourth__item:hover .fourth__price {
  color: #01B172;
}

.fourth__item:hover::after {
  height: 30px;
}

.fourth__item:hover::before {
  height: 30px;
}

.fourth__title {
  line-height: 130%;
  margin-bottom: 12px;
}

.fourth__price {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ED6060;
  margin-bottom: 20px;
}

.fourth__list {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #344650;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 9px;
}

.fourth__object:last-child {
  margin-bottom: 0px;
}

.fourth__wrap-more {
  text-align: center;
}

.fourth__more {
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #ED6060;
  padding-right: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fourth__more:hover {
  color: #01B172;
}

.fourth__more:hover::after {
  border-top-color: #01B172;
}

.fourth__more::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0px;
  border-top: 7px solid #ED6060;
  border-right: 4.5px solid transparent;
  border-left: 4.5px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
