.page {
  &__start {
    background-color: #efefef;
    padding-top: 50px;
    padding-bottom: 140px;
    // display: none;
  }
  &__quality{
    // padding-top: 30px;
    padding-bottom: 60px;
    // display: none;
  }
  &__third{
    background-color: #EFEFEF;
    padding-top: 60px;
    padding-bottom: 101px;
  }
}
