.page {
  &__start {
    background-color: #efefef;
    padding-top: 50px;
    padding-bottom: 140px;
  }
  &__quality{
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
