.start {
  &__heading {
    font-weight: 700;
    font-size: 55px;
    line-height: 150%;

    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  &__subheading {
    margin-bottom: 49px;
  }

  &__row {
    display: flex;
    margin: 0 -28px;
  }

  &__column {
    flex: 0 1 25%;
    padding: 0 37px;
  }

  &__item {
    padding: 30px;
    background: #ddd;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    &:hover {
      background: #fff;
      box-shadow: 0px 0px 15px 1px #000;
      color: #a10b0c;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__image {
    text-align: center;
    img {
      max-width: 100%;
      margin-bottom: 22px;
    }
  }

  &__title {
  }

  &__text {
    flex: 1 1 auto;
    margin-bottom: 23px;
  }

  &__wrap-more {
    text-align: center;
  }

  &__more {
    position: relative;
    display: inline-block;

    color: #000;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    text-align: center;

    padding-right: 12px;
    transition: all 0.3s ease 0s;
    
    &:hover {
      color: #A10B0C;
      &::after {
        border-left-color: #A10B0C;
      }
    }

    &::after {
      content: "";

      position: absolute;
      top: 6px;
      right: 0px;

      border-left: 7px solid #000;

      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;

      transition: all 0.3s ease 0s;
    }
  }
}

@media (max-width: 1500px) {
  .start {

    &__row {
      flex-wrap: wrap;
      justify-content: center;
      margin: -37px -28px;
    }

    &__column {
      flex: 0 1 40%;
      padding: 37px;

      // 20% - 5 карточек
      // 21% - 25% - 4 карточки
      // 26% - 33.3334% - 3 карточки
      // 34% - 50% - 2 карточки
      // 51% - 100%;

    }
  }
}
@media (max-width: 1335px) {
  .start {

    &__row {
      margin: -20px;
    }

    &__column {
      // flex: 0 1 40%;
      padding: 20px;
    }
  }
}
@media (max-width: 767px) {
  .start {

    &__column {
      flex: 0 1 80%;
    }
  }
}
@media (max-width: 424px) {
  .start {
    &__row {
      margin: -10px;
    }

    &__column {
      padding: 10px;
      flex: 0 1 100%;
    }
  }
}
